extends layout 

block content 
  h1= title 

  a(href='/item/create') New Item 
  br
  br

  ul.list-grid.category-list 
    li 
      div ITEM 
    li 
      div CATEGORY
    each item in item_list 
      li 
        a(href=item.url) #{item.name}
      li 
        div  #{item.category.name}
    else 
      li No items.